include partials/head.pug
include partials/header.pug

.container.my-5.mx-auto

    .flex.flex-col.w-full(class='lg:flex-row')

        .w-full(class='lg:w-2/5 lg:mr-4')
            h1.text-4xl My Accounts
            each account, index in accounts
                .card.w-full.max-w-full.py-3.px-4.my-3
                    .text-lg.w-full.justify-between.text-semibold.flex
                        span.border-b-2.border-solid.border-gray-300.pb-0.mb-2.font-semibold(data-account-number=account.number)= account.nickname
                        span.text-sm (******#{account.number})
                    .flex.flex-col.w-full
                        - if(index !== 1)
                            .text-xl.flex.flex-row.justify-between
                                span Current
                                span $ #{balanceString(account.balance)}
                            .flex.flex-row.justify-between
                                span Available
                                span $ #{balanceString(account.balance)}
                                
                        - else
                            .text-xl.flex.flex-row.justify-between
                                span Available Credit
                                span $ #{balanceString(10000-account.balance)}
                            .flex.flex-row.justify-between
                                span Outstanding Balance
                                span $ #{balanceString(account.balance)}
                        
                    .flex.flex-col.w-full.text-center.mt-2(class='md:flex-row')
                        a.button.flex-grow.green(href=`/b/transfer?account=${account.number}`) Transfer
                        button.button.flex-grow(onclick=`renameAccount("${account.number}")`) Rename

        div.w-full
            h1.text-4xl Recent Transactions

            table.table.w-full.text-md
                thead
                    tr
                        th Date
                        th Description
                        th Account
                        th.text-right Amount
                tbody
                    each transaction in transactions
                        tr
                            th.narrow #{transaction.date.toLocaleDateString('en-US', { year: '2-digit', month: 'numeric', day: 'numeric' })}
                            td #{transaction.description}
                            td.narrow
                                span.text-md #{accounts[transaction.account].nickname}
                                |  
                                strong.text-sm (#{accounts[transaction.account].number})
                            td.narrow.text-right
                                span(class=`tag ${transaction.amount >= 0 ? 'green' : 'red'}`)
                                    | $#{balanceString(parseAmount(transaction.amount))}

script.
    function renameAccount(number) {
        var element = document.querySelector('span[data-account-number="' + number + '"]')
        var oldName = element.innerText;

        element.innerHTML = '<form name="rename-' + number + '" onsubmit="submitRename(' + number + ')"><input name="newname" class="input is-fullwidth" /><button class="is-hidden" type="submit"></button></form>'
        
        var input = document.forms['rename-' + number].elements.newname;

        input.focus()
        input.value = oldName;
    }

    function submitRename(number) {
        var form = document.forms['rename-' + number]
        var newname = form.elements.newname.value
        var element = document.querySelector('span[data-account-number="' + number + '"]')
        var data = {}

        data[number] = {
            nickname: newname
        }

        fetch('/api/accounts', {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
        element.innerText = newname

        return false
    }

include partials/footer.pug
include partials/foot.pug