include partials/head.pug
include partials/header.pug

-
    origin = accounts.find((acct) => acct.number === query.origin)
    originIndex = accounts.indexOf(origin)
    destination = accounts.find((acct) => acct.number === query.destination)
    destinationIndex = accounts.indexOf(destination)
    amt = +query.amount

    transfers.unshift({
        origin: originIndex,
        destination: destinationIndex,
        amount: amt,
        memo: query.memo,
        date: new Date()
    })

    transactions.unshift({
      description: `XFER FROM ACCT x${origin.number}`,
      amount: amt,
      date: new Date(),
      account: destinationIndex
    })

    origin.balance = origin.balance - amt
    destination.balance = destination.balance + amt

div.container(class='my-5 mx-auto')
    div.columns
        div.column.is-two-fifths
            h1.title Done!
            h3.subtitle Your transfer is complete.

            table.table.is-fullwidth
                tbody
                    tr
                        td.is-narrow Transferring
                        th $#{(+query.amount).toFixed(2).toLocaleString()}
                    tr
                        td.is-narrow from
                        th #{origin.nickname} x#{origin.number}
                    tr
                        td.is-narrow to
                        th #{destination.nickname} x#{destination.number}
                    if (query.memo)
                        tr
                            td.is-narrow for
                            td= query.memo

            a.button.is-info.is-fullwidth(href="/b/transfer") Make Another Transfer
            a.button.is-info.is-fullwidth(href="/b/accounts") Accounts

        div.column
            h1.title Transfer History
            include partials/history.transfers.pug

include partials/footer.pug
include partials/foot.pug